<div class="ecmCenterPane huydn">
    <h2>Create Folder</h2>
    <div>
        <label for="nameFolder">Name Folder</label>
        <input class="indent" type="text" size="50" id="nameFolder"/>
    </div>
    <div>
        <label for="nameFolder">Name SubFolder</label>
        <label for="nameSubFolder"></label><input class="indent" type="text" size="50" id="nameSubFolder"/>
    </div>
    <div>
        <label>Up File: </label>
        <input type="file" multiple id="chooseFile"/>
    </div>

    <button type="button" id="createBtn">Up file</button>

    <h2>Copy Folder</h2>

    <div>
        <label for="nameFolder">Copy folder from </label>
        <label for="copyFolder"></label><input class="indent" type="text" size="50" id="copyFolder"/>
    </div>
    <div>
        <label for="nameFolder">New Name</label>
        <label for="newNameFolder"></label><input class="indent" type="text" size="50" id="newNameFolder"/>
    </div>
    <button type="button" id="copyBtn">Copy Folder</button>

    <h2>Delete Folder Folder</h2>

    <div>
        <label for="nameFolder">Delete Folder</label>
        <label for="newNameFolder"></label><input class="indent" type="text" size="50" id="deleteFolder"/>
    </div>
    <button type="button" id="deleteBtn">Delete Folder</button>

    <div>
        <p type="text" size="80" id="textResponse"></p>
    </div>
</div>
